* {
    outline: none;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

*::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #36393f;
    color: #dcddde;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
}

.text textarea {
    display: block;
    background-color: #40444b;
    border: none;
    resize: none;
    width: 100%;
    height: 30em;
    margin: 1em 0;
    color: #fff;
    border-radius: 2em;
    padding: 2em;
}

.buttons {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.text button {
    min-width: 4em;
    height: 4em;
    margin-right: 0.5em;
    border-radius: 4em;
    background-color: #f1f3f4;
    color: #191919;
    font-weight: 600;
    border: none;
    padding: 0.75em;
    cursor: pointer;

    transition: 200ms background-color;
}

.text button:hover {
    background-color: #cecdcd;
}

.text button:active {
    background-color: #8a8a8a;
}

.disabled {
    color: #a9abab !important;
    cursor: not-allowed !important;
}

.text .count {
    position: absolute;
    pointer-events: none;
}

.text .count p {
    position: relative;
    text-align: center;
    background-color: #40444b;
    padding: 1em;
    border-top-right-radius: 2em;
    border-bottom-left-radius: 1em;
    left: 0.5em;
    bottom: 4.5em;
    text-align: center;
    font-family: monospace;
}

#limit {
    width: 6em;
}